extends ../base.pug

block vars
	- var pageTemplate = 'index'; // page var
	- var pageTitle = 'Главная'; // page title
	- var pageJs = 'js/index.js'; // page js
block head


block content
	h1 Привет
	button#require-menu Require Menu
	#app
